footer{
    padding: 30px;
}
.social{
    ul{
        margin: 0;

        padding: 0;
    }
    li {
        float: left;
        list-style-type: none;
    }
    a {
        display: block;
        padding: 8px;
    }
}