<footer id="my-footer" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-3">
        <a routerLink=""><img src="assets/img/csk-logo.png"></a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <h4>INFORMATION</h4>
        <ul footer-info>
            <li><a routerLink="/who">Who We Are</a></li>
            <li><a routerLink="/what">What We Do</a></li>
            <li><a routerLink="/pictures">Pictures</a></li>
            <li><a routerLink="/stories">Stories</a></li>
        </ul>
    </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <h4>POLICY INFO</h4>
        <ul footer-info>
          <li><a routerLink="/faq">FAQ</a></li>
          <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
          <li><a routerLink="/terms-of-use">Terms of Use</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <h4>CONNECT</h4>
        <ul class="social">
          <li>
            <span class="fa-stack fa-2x">
              <a href="" title="Twitter">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </a>
            </span>
            <span class="fa-stack fa-2x">
              <a href="https://www.facebook.com/ComputerSocietyOfKimathi/" title="Facebook">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </a>
            </span>
            <span class="fa-stack fa-2x">
              <a href="" title="Medium">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-medium fa-stack-1x fa-inverse"></i>
              </a>
            </span>
        </ul>
      </div>
    </div>

    <hr>

    <p class="text-center footer-extra"><a routerLink="/" title="">Computer Society of Kimathi | &copy; {{ CurrentYear }}</a></p>
  </div>
</footer>