<footer id="my-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-3">
        <img src="assets/img/csk-logo.png">
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <h3>INFORMATION</h3>
        <ul>
          <li>Who We Are</li>
          <li>What We Do</li>
          <li>Pictures</li>
          <li>Stories</li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <h3>POLICY INFO</h3>
        <ul>
          <li>FAQ</li>
          <li>Privacy Policy</li>
          <li>Terms of Use</li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <h3>CONNECT</h3>
        <ul>
          <li>
            <a href="https://www.facebook.com/ComputerSocietyOfKimathi/" title="Facebook"><i class="fa fa-facebook-f fa-2x"></i></a>
          </li>
          <li>
            <a href="https://www.facebook.com/ComputerSocietyOfKimathi/" title="Twitter"><i class="fa fa-twitter fa-2x"></i></a>
          </li>
          <li>
            <a href="#" title="Medium+"><i class="fa fa-medium fa-2x"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>