.text-hist-left{
}
.text-hist-right{
}
.img-history-right{
    img{
        float: right;
        min-width: 320px;
        width: 50%;
    }
}
.img-history-left{
    img{
        float: left;
        min-width: 320px;
        width: 50%;
    }
}