<section>
  <div class="jumbotron jumbotron-fluid my-jumbotron">
    <div class="container">
      <h1 class="display-3">Our History</h1>
      <p class="lead">Who We Are</p>
    </div>
  </div>
</section>


<div class="container">
  <section id="intro">
    <h2>We have a story ...</h2>
    <div class="row">
      <div class="">
        <div class="img-history-right col-sm-12">
          <img src="./assets/img/firstMeetup.jpg" alt="First Meetup" class="img-responsive">
        </div>
        <div class="text-hist-left">
          <p>
              Computer Society of Kimathi was founded in July 2012 by Oroko Antony 
              as Chairman, Oscar Oluoch as Vice Chairman and Nelson Andera as Secretary, 
              with an objective to bring together the then Kimathi University College 
              of Technology (KUCT) fraternity in learning together the various 
              technologies in the market and use varied skills to provide solutions 
              to the challenges in our environment. 
          </p>
          <p>
              On 10th September 2012 the group applied for its registration to the 
              University as an Official University Club and the application was approved 
              by the Office of the Dean of Students.
          </p>
          <p>
              The club organized a series of meetups (Meetup 1.0 - 5.0) involving students in a peer
               to peer learning on programming languages such as PHP and Ruby on Rails.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="">
        <div class="img-history-left col-sm-12">
          <img src="./assets/img/rhok-logo.jpg" alt="Random Hacks of Kindness">
        </div>
        <div class="text-hist-right">
          <p>
              Over a couple of meetups, the club membership rose from a small group of 15-20 students to 
              over 50 students mostly from the School of Computer Science and Information 
              Technology. With the skills gained from the meetups, the club organized its 
              first hackathon in the region, Random Hacks of Kindness Nyeri (RHoK Nyeri) on 
              22nd – 23rd December 2012. The event was a 48hr-without-sleep weekend sprint 
              development activity. The theme of the RHoK Nyeri event was Hack for Humanity 
              where the participants created technology oriented solutions to meet the real 
              life crises or challenges faced by man.  
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="">
        <div class="img-history-right col-sm-12">
          <img src="./assets/img/rhok-photo.jpg" alt="First Meetup" class="img-responsive">
        </div>
        <div class="text-hist-left">
          <p>
              As the club membership grew exponentially after the first hackathon event 
              (RHoK Nyeri 2012), in June 2013 the club sought to increase the number of 
              officials and revise its Constitution through which we had Oroko Antony as 
              the Club President, Oluoch Oscar as the Club Secretary, Kimani John as the 
              Club Finance Manager, Nelson Andera as the Club Administrator, Kenneth Njihia 
              as the Club Resource Manager, and Mboya Berry as the Club Branding Manager. 
              The new constitution opened the membership of the club to alumnae, staff 
              and neighboring institutions, with a mission centered on providing training 
              opportunities, facilitate events and foster research on current and emerging 
              technologies. 
          </p>
        </div>
      </div>
    </div><!-- //End row -->
  </section>


  <section id="tech-events">
      <h2>Tech Events</h2>
      <div class="row">
        <div class="">
          <div class="img-history-right col-sm-12">
            <img src="./assets/img/stories-1.jpg" alt="First Meetup" class="img-responsive">
          </div>
          <div class="text-hist-left">
            <p>
                During 22nd – 23rd of December 2012, CSK organized the first tech activity in the university the RHoK Nyeri Community event. This was followed by the RHoK Global event in 1st – 2nd of June 2013. In 31st of October to 2nd of November 2013 of the same year, DeKUT experienced the first ever Science Hack Day, Nyeri event courtesy of CSK.
            </p>
            <p>
                Nyeri Civic Hack, an initiative by CSK that was sponsored by the County Government of Nyeri was held from 31st October to 2nd November 2014. It was the first ever Civic hack-a-thon in Kenya and Africa as a whole. The event is rightly viewed as the greatest event organized by the club.
            </p>
            <p>
              CSK has also been involved in facilitating other events among them Software Development Competition (2015). It is known and associated with iHub Community Outreach programmes such as Innovation Talks and Trainings such as the Microsoft AppStudio Training and Africa’s Talking Training.
            </p>
          </div>
        </div>
      </div>
    </section>


    <section id="social-activities">
        <h2>Social Activities</h2>
        <div class="row">
          <div class="">
            <div class="img-history-left col-sm-12">
              <img src="./assets/img/child-home.jpg" alt="First Meetup" class="img-responsive">
            </div>
            <div class="text-hist-right">
              <p>
                  During 22nd – 23rd of December 2012, CSK organized the first tech activity in the university the RHoK Nyeri Community event. This was followed by the RHoK Global event in 1st – 2nd of June 2013. In 31st of October to 2nd of November 2013 of the same year, DeKUT experienced the first ever Science Hack Day, Nyeri event courtesy of CSK.
              </p>
              <p>
                  Nyeri Civic Hack, an initiative by CSK that was sponsored by the County Government of Nyeri was held from 31st October to 2nd November 2014. It was the first ever Civic hack-a-thon in Kenya and Africa as a whole. The event is rightly viewed as the greatest event organized by the club.
              </p>
              <p>
                CSK has also been involved in facilitating other events among them Software Development Competition (2015). It is known and associated with iHub Community Outreach programmes such as Innovation Talks and Trainings such as the Microsoft AppStudio Training and Africa’s Talking Training.
              </p>
            </div>
          </div>
        </div>
      </section>


      <section id="awards">
          <h2>Awards and Achievements</h2>
          <div class="row">
            <div class="">
              <div class="img-history-right col-sm-12">
                <img src="./assets/img/most-active.jpg" alt="Most Active" class="img-responsive">
              </div>
              <div class="text-hist-left">
                <p>
                    It also won the inaugural Vice-Chancellors Award for the Best Academic Club of the Academic year 2012/2013. The club has pioneered in organizing the following events in the region: 
                </p>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Random Hacks of Kindness (RHoK Nyeri)</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Science Hack Day (SHD Nyeri)</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Nyeri Civic Hack </li>
                </ul>
                <p>
                    The club has also played a big role in organizing the University’s events such as:
                </p>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Nyeri ASK Showground 2013</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>DeKUT Open Day 2014</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>CUE Exhibition at KICC 2014</li>
                </ul>
              </div>
            </div>
          </div>
        </section>


        <section id="activities">
            <h2>Social Activities</h2>
            <div class="row">
              <div class="">
                <div class="img-history-left col-sm-12">
                  <img src="./assets/img/ihub-1.jpg" alt="First Meetup" class="img-responsive">
                </div>
                <div class="text-hist-right">
                  <p>
                      Hackathons, Meetups, Tech Talks, Social Activities, Training, Open Weeks
                  </p>
                  <p>
                      Hackathons: They are tech events organized to bring together persons of different skills from different disciplines who collaborate together to identify problems and provide solutions to the problems within a 48Hrs. The solutions are from different disciplines such as robotics, cyber security, e-commerce, agriculture, and health.
                  </p>
                  <p>
                      Meet-ups: It is a peer education where skilled members teach other members of the various technologies they use, their strengths and how they can be applied in the market for problem solving. The members use the skills learnt to solve given set of problems and in industry applications. The first meet-up involved php, hml5, jquery, the second meet-ups entailed python and how to use it in both web, gaming and other applications. The third meet-up tackled android.
                  </p>
                  <p>
                      Tech talks: They are organized to bring professionals from the industry to give talks on trending technologies, expectations of the market and relevance of class work to industry.
                  </p>
                  <p>
                      Social Activities: They are organized to reach out to the society and the CSK environment.
                  </p>
                  <p>
                      Training: are mainly organized to bring professionals who show members how to employ given technologies and using them effectively. The first training was Microsoft appstudio on how to create window apps. We also have USSD and SMS training.
                  </p>
                  <p>
                      Open Weeks: It is an outreach activity through which CSK appreciates the community by offering free services in given areas such as computer maintenance, and also reaching out to the secondary school generation to create more awareness on technology
                  </p>
                </div>
              </div>
            </div>
          </section>
    
</div>