<section>
  <div class="jumbotron jumbotron-fluid my-jumbotron">
    <div class="container">
      <h1 class="display-3">"Service to others is the rent you pay for your room on earth"</h1>
      <p class="lead">~Muhammed Ali</p>
    </div>
  </div>
</section><!-- //Section -->

<div class="container">
    <section id="group-left">
      <h1>Living legends</h1>
      <div class="row">
          <div class="col">
            <div class="team-group">
                <img src="assets/img/team/team-1.jpg" alt="Team member" class="rounded-circle">
                <img src="assets/img/team/team-1.jpg" alt="Team member" class="rounded-circle">
                <img src="assets/img/team/team-1.jpg" alt="Team member" class="rounded-circle">
                <img src="assets/img/team/team-1.jpg" alt="Team member" class="rounded-circle">
            </div>
          </div>

          <div class="col">
            <img [src]="group1.jpg" alt="The Living legends">
          </div>
      </div>
    </section><!-- //Section -->
</div>
