<div class="container">
  <div class="text-right">
    <small>Already have an account? <a routerLink="/login">Log in</a></small>
  </div>
  <div class="row content">
      <div class="col-xs-12 col-sm-6 info">
        <h2>Sign up for Computer Society of Kimathi</h2>
        <p class="signup-info">Use your Github or Google account to easily get started, or fill out the form</p>
        <small>By signing up you agree to our <a href="">Terms of Service</a> and <a href="">Privacy Policy</a></small>
      </div>
      <div class="col-xs-12 col-sm-6 my-form">
        <hr class="hr-text" data-content="Sign Up with">
          <div class="row">
            <a href="" class="col btn btn-outline-primary btn-github ">
              <i class="fa fa-github"></i>
            </a>
            <a href="" class="col btn btn-outline-primary btn-google">
              <i class="fa fa-google"></i>
            </a>
          </div>
        <hr class="hr-text" data-content="or">
      <form [formGroup]="form" (ngSubmit)="login">
          <div class="form-group">
            <label for="firstName" class="sr-only">First Name</label>
            <input
              formControlName="firstName" 
              type="text" 
              class="form-control" 
              id="first-name" 
              placeholder="First Name"> 
          </div>
          <div 
            *ngIf="firstName.touched && firstName.invalid" 
            class="alert alert-danger">
              <div *ngIf="firstName.errors.required">
                  Please fill in your first name. 
              </div>
          </div>
        <div class="form-group">
          <label for="lastName" class="sr-only">Last Name</label>
          <input 
            formControlName="lastName"
            type="text" 
            class="form-control" 
            id="last-name" 
            placeholder="Last Name">
        </div>
        <div 
          *ngIf="lastName.touched && lastName.invalid" 
          class="alert alert-danger">
            <div *ngIf="lastName.errors.required">
                Please fill in your last name. 
            </div>
        </div>

        <div class="form-group">
          <label for="email" class="sr-only">Email</label>
          <input 
            formControlName="email"
            type="email" 
            class="form-control" 
            id="email" 
            name="email" 
            placeholder="Email">

          <div 
            *ngIf="email.touched && email.invalid"
            class="alert alert-danger">
            <div *ngIf="email.errors.required">Provide an email address.</div>
            <div *ngIf="email.errors.required">Provide a valid email.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="sr-only">Password</label>
          <input 
            formControlName="password"
            type="password" 
            class="form-control" 
            id="password" 
            name="password" 
            placeholder="Password">
        </div>
        <div 
          *ngIf="password.touched && password.invalid"
          class="alert alert-danger">
          <div *ngIf="password.errors.required">Please provide a password.</div>
        </div>

        <div class="custom-control custom-checkbox my-1 mr-sm-2">
          <input type="checkbox" class="custom-control-input" id="customControlInline">
          <label class="custom-control-label" for="customControlInline">I want to receive email updates</label>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
      </form>
    </div>  
      <!-- //End col -->
  </div><!-- End row -->
</div>