<div class="container">
  <form>
    <div class="row">
      <div class="col">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">@</div>
              </div>
              <input type="text" class="form-control" id="first-name" placeholder="First Name">
            </div>  
          </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="last-name" placeholder="Last Name">
        </div>
      </div>
    </div>    
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="example@example.com">
      <small id="firstName" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="password">
    </div>
    <div class="form-group">
      <label for="course">Reg-No</label>
      <input type="text" class="form-control" name="reg" id="course" placeholder="">
    </div>
    <div class="form-group">
      <label for="course">Course</label>
      <input type="text" class="form-control" name="course" id="course" placeholder="Bsc. Computer Science">
    </div>
    <!-- <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input" name="gender" id="gender-female" value="female">
      <label for="gender-female" class="form-check-label">
        Female
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input" name="gender" id="gender-male" value="male">
      <label for="gender-male" class="form-check-label">
        Male
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input" name="gender" id="gender-other" value="other">
      <label for="gender-other" class="form-check-label">
        Other
      </label>
    </div> -->
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>