.info{
    background-color: rgb(238, 245, 255);
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}

.my-form{
    background-color: #2e2e2e;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}
.social-buttons{
    a{
        color: #fff;
    }
}