<section>
  <div class="jumbotron jumbotron-fluid my-jumbotron">
    <div class="container text-center">
      <h2 class="display-3">What We Do</h2>
      <p class="lead">Computer Society of Kimathi</p>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div 
        *ngFor="let event of events"
        class="event-group col-xs-6 col-sm-6 col-md-4">
        <img [src]="event.thumbnail" alt="" class="img-responsive rounded">
        <h4>{{ event.title }}</h4>
        <p>
          {{ event.description }}
        </p>
        <a routerLink="what/{{ event.url }}" class="btn btn-outline-secondary">Read More</a>
      </div>
    </div>
  </div>
</section>