<section>
  <div class="container">
    <div class="row">
      <div class="event-group col">
        <img src="assets/img/what-3.jpg" alt="GDG DevFest" class="img-responsive">
        <h4>GDG DevFest Nyeri</h4>
        <p>
          GDG DEVFEST NYERI was another great success from GDG Kimathi University. It was a three-day event held from 11th November 2016 ...
        </p>
        <a routerLink="what/id" class="btn btn-outline-secondary">Read More</a>
      </div>
      <div class="event-group"></div>
      <div class="event-group"></div>
      <div class="event-group"></div>
      <div class="event-group"></div>       
    </div>
  </div>
</section>