// Bootstrap
@import "~bootstrap/dist/css/bootstrap.css";
// ngx-gallery
@import '~@ngx-gallery/core/styles/gallery';
@import '~@ngx-gallery/core/styles/lightbox';

/*Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    font-family: 'Open Sans', sans-serif;
    padding-top: 100px;
}
h1{
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
}

  a:hover {
    text-decoration: none;
    outline: none;
  }
input{
  border: 0px solid;
}

input:focus{
  background-color: transparent !important;
  outline: 0 !important; 
  box-shadow: transparent !important; 
}

input[type='text'],
input[type='email'],
input[type='password']{
  background-color: transparent;
  outline: transparent;
}
input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus{
  outline: none;
  box-shadow: none !important;
  // border: 0 !important;
}
.form-control{
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}
.input-group-text{
  background-color: transparent;
  border: 0;
}

/* Buttons */
.btn-secondary {
    background-color: #bd212f;
    border-color: #bd212f;
  }
  
  .btn-secondary:hover {
    background-color: #d42130;
    border-color: #ac242f;
  }
  
  .btn-secondary:focus, .btn-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(212, 38, 48, 0.5);
  }
  
  .btn-secondary.disabled, .btn-secondary:disabled {
    background-color: #bd212f;
    border-color: #bd212f;
  }
  
  .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
  .show > .btn-secondary.dropdown-toggle {
    background-color: #ac242f;
    border-color: #ac242f;
  }
  
  .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(212, 38, 48, 0.5);
  }
  .btn-outline-secondary {
    color: #bd212f;
    border-color: #bd212f;
  }
  
  .btn-outline-secondary:hover {
    background-color: #bd212f;
    border-color: #bd212f;
  }
  
  .btn-outline-secondary:focus, .btn-outline-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(212, 38, 48, 0.5);
  }
  
  .btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
    color: #bd212f;
  }
  
  .btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
  .show > .btn-outline-secondary.dropdown-toggle {
    background-color: #bd212f;
    border-color: #bd212f;
  }
  
  .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(212, 38, 48, 0.5);
  }

  
.bg-dark {
    background-color: #18191a !important; 
}

